@page
@model VelocityBoard.Web.Pages.Projects.EditModel
@{
    ViewData["Title"] = Model.Id == null ? "Create Project" : "Edit Project";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (Model.Id != null)
            {
                <input type="hidden" asp-for="Id" />
            }
            <div class="form-group mb-3">
                <label asp-for="Project.Name" class="control-label"></label>
                <input asp-for="Project.Name" class="form-control" />
                <span asp-validation-for="Project.Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Project.Description" class="control-label"></label>
                <textarea asp-for="Project.Description" class="form-control"></textarea>
                <span asp-validation-for="Project.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}